$mobile: 320px;
$tablet: 768px;
$desktop: 1440px;

$very-dark-blue: hsl(200, 15%, 8%);
$dark-gray: hsl(0, 0%, 52%);
$very-light-gray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

$fz-14: 14px;
$fz-16: 16px;

/* semantic color variables for this project */

$light-mode-text: $very-dark-blue;
$light-mode-input: $dark-gray;
$light-mode-background: $very-light-gray;
$light-mode-elements: $white;
